@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
    font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
    font-weight: 300;
    font-style: italic; 
}


@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
    font-weight: 400;
    font-style: italic; 
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal; 
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic; 
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic; 
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal; 
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic; 
}

@font-face {
    font-family: "Amatic";
    src: url("../fonts/Amatic-Bold.woff");
    font-weight: 800;
}

@font-face {
    font-family: "Pangolin";
    src: url("../fonts/Pangolin.woff");
    font-weight: 800;
}

h1, h5 {
    font-family: "Pangolin";
    padding-top: 1rem;
}

h2 {
    font-family: "Amatic";
}

body{
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
}

.texto2 {
    font-family: "Pangolin";
    font-size: 1.5rem;
}