/*Menu users*/
.scrd-menu-account {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #000;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.scrd-menu-account > ul{
    position: absolute;
    left: 0;
    list-style: none;
    display: flex;
    padding: 0 .5rem;
}

.scrd-menu-account > ul > li{
    margin: 0 0.5rem;
}


.scrd-menu-account > ul > li a{
    color: #cecece;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
}

.scrd-menu-account > ul > li a:hover{
    color: #ffffff;
}

.scrd-menu-account > .btn-login{
    font-weight: 600;
    margin-right: 25px;
    color: #fff;
}

.scrd-menu-account .dropdown{
    position: relative;
}

.scrd-menu-account .dropdown:hover .dropdown-content{
    display: block;
}
.scrd-menu-account .dropdown .dropdown-btn {
    background-color: transparent !important;
    border: none;
    color: #fff;
    flex-shrink: 0;
    font-size: 1.8em;
    height: 40px;
    width: 40px;
    margin: 0 0.5em;
    cursor: pointer;
}

.scrd-menu-account .dropdown .dropdown-content {
    position: absolute;
    top: 40px;
    right: 0;
    min-width: 130px;
    height: auto;
    display: none;
}

.scrd-menu-account .dropdown .dropdown-content ul {
    padding: 3px 10px;
    list-style: none;
    background-color: #fff;
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-bottom-left-radius: 5px;
}

.scrd-menu-account .dropdown .dropdown-content ul li{
    border-bottom: 1px solid #cecece;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.scrd-menu-account .dropdown .dropdown-content ul li:last-child{
    border-bottom: none;
}

.scrd-menu-account .dropdown .dropdown-content ul li a{ 
    color: #474747;
    text-decoration: none;
    font-weight: 600;
}
.scrd-menu-account .dropdown .dropdown-content ul li a:hover{ 
    text-decoration: none;
    color: #000;
}


/*Menu nodes*/
.scrd-menu-views{
    position: fixed;
    bottom: 0;
    right: 10vw;
    float: right;
    z-index: 1000;
    list-style: none;
    display: flex;
}

.scrd-menu-views li{
    position: relative;
    margin: 3px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: #f3f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s all;
}
.scrd-menu-views li:hover{
    opacity: 0.4;
}
.scrd-menu-views li::before{
    font-family: "Font Awesome 5 Free";
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}

.scrd-menu-views li:nth-child(1)::before { content: "\f06e"; }
.scrd-menu-views li:nth-child(2)::before { content: "\f044"; }
.scrd-menu-views li:nth-child(3)::before { content: "\f2ed"; }
.scrd-menu-views li:nth-child(4) { display: none; }

.scrd-menu-views li a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0;
    opacity: 0;
    display: block;
}

/*--- TABLAS ---*/
.alTotal {
    height: 90vh;
}

.scrd-table {
    background-image: url("http://habitarmishistorias.gov.co/home/img/fdo/fdoIndex.jpg");
    background-size: contain;
    /*background: url("http://habitarmishistorias.gov.co/home/img/interfase/tablaTop.svg") top repeat-x, url("http://habitarmishistorias.gov.co/home/img/interfase/tablaSide.svg") left repeat-y, url("http://habitarmishistorias.gov.co/home/img/interfase/tablaSide.svg") right repeat-y, url("http://habitarmishistorias.gov.co/home/img/interfase/tablaTop.svg") bottom repeat-x;*/
}


.table thead th, .table td, .table th {
    border: none;
    background: url("http://habitarmishistorias.gov.co/home/img/interfase/tablaTop.svg") top repeat-x, url("http://habitarmishistorias.gov.co/home/img/interfase/tablaSide.svg") left repeat-y, url("http://habitarmishistorias.gov.co/home/img/interfase/tablaSide.svg") right repeat-y, url("http://habitarmishistorias.gov.co/home/img/interfase/tablaTop.svg") bottom repeat-x;
}

.btn-scrd {
    background: url("http://habitarmishistorias.gov.co/home/img/interfase/btnVer.svg") center no-repeat;
    height: 6rem;
    background-size: contain;
}

.btn-scrd:hover {
    background: url("http://habitarmishistorias.gov.co/home/img/interfase/hoverBotonSeccion.gif") center no-repeat, url("http://habitarmishistorias.gov.co/home/img/interfase/btnVer.svg") center no-repeat;
    background-size: contain;
}

.bkgRotulo {
    background: url("http://habitarmishistorias.gov.co/home/img/interfase/bkgRotulo.svg") center no-repeat;
    background-size: contain;
    padding: 0.5rem 0;
}

.modal {
    background-color: rgba(0,0,0,0.8);
    background-image: url("http://habitarmishistorias.gov.co/home/img/fdo/fdoModal.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*-------------*/
.modalGaleria {
    background-image: url("http://habitarmishistorias.gov.co/home/img/fdo/fdoModal.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.recuCard {
    background: url("http://habitarmishistorias.gov.co/home/img/interfase/tablaTop.svg") top repeat-x, url("http://habitarmishistorias.gov.co/home/img/interfase/tablaSide.svg") left repeat-y, url("http://habitarmishistorias.gov.co/home/img/interfase/tablaSide.svg") right repeat-y, url("http://habitarmishistorias.gov.co/home/img/interfase/tablaTop.svg") bottom repeat-x, url("http://habitarmishistorias.gov.co/home/img/fdo/fdoIndex.jpg") center no-repeat;
}

.card {
    border: 2px solid rgba(0,0,0,.1) !important;
    margin: 1rem auto;
}

.card-title {
    border-top: 2px dotted rgba(0,0,0,.3);
}

.btn-scrd-back {
    background-image: url(http://habitarmishistorias.gov.co/home/img/interfase/btnBack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    position: absolute;
    left: 77%;
    bottom: -45%;
    z-index: 100;
    width: 15%;
}

.btn-scrd-back:hover {
    background: url("http://habitarmishistorias.gov.co/home/img/interfase/hoverBotonSeccion_2.gif") center no-repeat, url("http://habitarmishistorias.gov.co/home/img/interfase/btnBack.svg") center no-repeat;
    background-size: contain;
}


