*{ margin: 0; padding: 0;}
.scrd-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.scrd-container section {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cecece;
    overflow-y: auto;
}

.scrd-container section > div{
    position: relative;
    width: 100%;
    height: 100%;
}

.scrd-container nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background-color: #000;
    z-index: 1000;
}

.scrd-preload{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.scrd-preload > img{
    width: 40vw;
    height: auto;
}