<div class="scrd-view-audio fdoSndAdmin alTotal">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center my-5 bkgRotulo">Audios</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
      
                <table class="table scrd-table">
                    <thead>
                        <tr>
                            <th class="text-center texto2">#</th>
                            <th class="text-center texto2">Titulo</th>
                            <th class="text-center texto2 w-50">Descripción</th>
                            <th class="text-center texto2">Audio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in scrd_audio %}
                            <tr>
                                <td class="text-center align-middle"> <b>{{loop.index}}</b></td>
                                <td class="text-center align-middle"> {{item.nodeTitle}} </td>
                                <td> {{item.nodeDescription | raw }}</td>
                                <td class="align-middle"> 
                                    <audio controls class="col-12">
                                        <source src="{{item.nodeAudio}}" type="audio/mpeg">
                                    </audio>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
</div>