{% if menu.error %}
    <div>
        The requested page could not be found.
    </div>
{% else %}
    <div class="scrd-video-contain">
        <img src="/{{ directory }}/assets/img/interfaz/logoAlcaldia.png" alt="SCRD" class="scrd-logo">
        <div class="scrd-video-contain">
            <video id="VideoScrd" class="scrd-video" muted>
                <source src="{{scrd_video.video}}" type="video/mp4">
            </video>
            <div class="scrd-video-bars">
                {% for vid in menu.videos %}
                    <div class="scrd-video-progress-bar" style="width: {{100 / menu.videos|length }}%">
                        <div id="fill{{loop.index}}" class="scrd-bar-fill"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="scrd-menu-mask" style="background-image: url('/{{ directory }}/assets/img/fdo/fdo{{menu.title}}.png');" ></div>
        <div id="CanvasScrd" class="scrd-video-canvas"></div>
        <div id="TooltipScrd" class="scrd-video-tooltip">
            <div class="tooltip-body">
                <p class="tooltip-text"></p>
            </div>
        </div>
    </div>
    
    <footer class="scrd-footer">
        <nav>
            <ul>
                {% for item in menu.items %}
                    {% if item.id == menu.selected %}
                        <li class="actual"><a href="/menu/{{item.id}}"><h2 class="text-dark">{{item.name}}</h2></a></li>
                    {% else %}
                        <li><a href="/menu/{{item.id}}"><h2 class="text-dark">{{item.name}}</h2></a></li>
                    {% endif %}
                {% endfor %}
                <li onclick="{{item.select}}"><a href="/taxonomy/term/{{menu.selected}}"><h2 class="text-light"> + {{menu.title}}</h2></a></li>
            </ul>
        </nav>
        
        <div class="scrd-audio-button">
            <div class="audioActivo" onclick="mute()" id="audioBut">
                &nbsp;
            </div>
        </div>
    </footer>
    <div id="Preload" class="scrd-preload">
        <img src="/{{ directory }}/assets/img/interfaz/logoIndexPos.gif">
    </div>
    <audio id="AudioBackground" loop autoplay>
        <source src="/{{ directory }}/assets/audio/bkgSnd.mp3" type="audio/mpeg">
    </audio>
    <script>
        let videos = JSON.parse('{{ menu.videos|json_encode|raw }}');
        let isMenu = true;
        document.querySelector('.scrd-menu-account').style.display = 'none';
        preload('menu');
        
    </script>
{% endif %}
{{ attach_library('scrd/video') }}