<div class="scrd-node">
    <section class="container-fluid" style="background-color: {{ term.config.color }}">
        <div class="row">
            <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
                <img class="stamp" src="{{ term.config.stamp}}" />
                <article class="w-75">
                    <h1>{{ term.title}}</h1>
                    <hr>
                    <div class="">
                        <p>{{ term.description | raw }}</p>
                        <a href="/menu/{{term.config.id}}" class="btn button-back">Regresar</a>
                        {# <a href="{{term.config.linkParent}}" class="btn button-back">{{term.config.linkName}}</a> #}
                    </div>
                </article>
            </div>
            <div class="col-12 col-md-7 d-none d-flex align-items-center justify-content-center">
                <img class="w-100" src="http://habitarmishistorias.gov.co/home/img/interfase/LogoHabitarTaxo.gif"/>
            </div>
        </div>
        <div class="row">
            {% for item in term.menu %}
                <div class="col-6 col-md-4 col-lg-3 button-card" style="background-image: url({{ item.screenshot}});" data-link="" >
                    <a href="{{ item.url }}">
                        <div class="filter"></div>
                         <div class="label-city">
                            <p> <i class="fas fa-globe-americas"></i> <small>{{item.city.cityName}}, {{item.city.countryPrefix}}</small></p>
                            <div class="d-none">
                                <img src="{{item.city.countryIcon}}" style="width:35px; height: 35px; border-radius: 50%;" />
                                <img src="{{item.city.cityIcon}}" style="width:35px; height: 35px; border-radius: 50%;" />
                            </div>
                        </div>
                        <div class="title">
                            <p>{{ item.title }} {{item.state}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
</div>