<div class="scrd-view-galery fdoImgGaleria">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center bkgRotulo">Galería</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-columns">
                    {% for item in scrd_galery %}
                        <div class="card scrd-table">
                            <div class="card-img" style="background-image: url({{item.nodeImage}});"></div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{item.nodeTitle}}</h5>
                                <!---<p class="card-text">{{item.nodeDescription | raw}}</p>--->
                                <a href="{{item.nodeUrl}}" class="btn btn-block btn-scrd">&nbsp;</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>