<div class="scrd-view-audio fdoDocAdmin alTotal">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center my-5 bkgRotulo">Archivos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
      
                <table class="table scrd-table">
                    <thead>
                        <tr>
                            <th class="text-center texto2">#</th>
                            <th class="text-center texto2">Titulo</th>
                            <th class="text-center texto2 w-50">Descripción</th>
                            <th class="text-center texto2">Archivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in scrd_archivo %}
                            <tr>
                                <td class="text-center align-middle"> <b>{{loop.index}}</b></td>
                                <td class="text-center align-middle"> {{item.nodeTitle}} </td>
                                <td> {{item.nodeDescription | raw }}</td>
                                <td class="align-middle"> 
                                    <button type="button" class="btn btn-block btn-scrd" data-pdf="{{item.nodeArchivo}}" onclick="openModal(this);">&nbsp;</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
</div>

<div id="ModalPdf" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
             <object id="ObjectPdf" src="{{scrd_archivo.archivo}}" style="width: 100%; height: 95vh;">
                <embed id="EmbedPdf" src="{{scrd_archivo.archivo}}" style="width: 100%; height: 95vh;"></embed>
            </object>
        </div>
    </div>
</div>