.scrd-audio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrd-audio .jumbotron{
    background-color: #5d5e71;
    color: #fff;
}

.scrd-audio .jumbotron audio{
    width: 100%;
}

/*--- SCRD TABLES ---*/
/*.scrd-tabla {
    color: #fff;
    background-color: #ffcc00;
}*/

.fdoSndAdmin {
    background-image: url("http://habitarmishistorias.gov.co/home/img/fdo/fdoSndAdmin.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}