.scrd-logo{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 12%;
    z-index: 100;
}
.scrd-footer{
    width: 100%;
    height: 6rem;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.scrd-footer nav{
    width: 100%;
    height: 4rem;
    margin: 1rem 0;
    position: relative;
}

.scrd-footer nav ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrd-footer nav ul li{
    position: relative;
    text-align: center;
    opacity: 1;
    cursor: pointer;
    padding: 0 1rem;
    border-right: 2px solid #343a40;
}

.scrd-footer nav ul li:last-child{
    border-right: 2px solid transparent;
}

.scrd-footer nav ul li::before{
    content: '';
    position: absolute;
    top: -24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 28px;
    background-image: url(../../img/interfaz/corona.gif);
    background-size: cover;
    display: none;
}
.scrd-footer nav ul li:hover{ color: #ffffff !important; }
.scrd-footer nav ul li:hover::before{ display: block; }
.scrd-footer nav ul li.actual{ opacity: 0.5; }
.scrd-footer nav ul li.actual:hover{ color: inherit !important ;}
.scrd-footer nav ul li.actual::before{ background-image: url(../../img/interfaz/bkgActual.gif); top: -16px; display: block; }

.scrd-footer nav ul li a{
    text-decoration: none !important;
}

.scrd-footer nav ul li a:hover{
    text-decoration: none !important;
}

.scrd-audio-button {
    width: 6rem;
    height: 6rem;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.scrd-audio-button:hover {
    background-image: url(../../img/interfaz/hoverBotonSeccion.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.scrd-audio-button > div{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 70%;
}
.audioActivo { background-image: url(../../img/interfaz/audioOn.svg); }
.audioInactivo { background-image: url(../../img/interfaz/audioOff.svg); }

.botonSeccion:hover {
    background-image: url(../img/interfaz/hoverBotonSeccion.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}