.scrd-archivo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloque-texto {
    padding: 0 2rem !important;
}

.bkg-scrd-texto-admin {
    background-image: url("http://habitarmishistorias.gov.co/home/img/interfase/fdoTextoAdmin.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 50vh;
}

.fdoDocAdmin {
    background-image: url("http://habitarmishistorias.gov.co/home/img/fdo/fdoDocAdmin.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scrd-pdf-visor, .scrd-pdf-visor embed{
    width: 100%;
    height: 90vh;
    margin-top: 7vh;
    box-shadow: 0 0 8px 0px #cecece;
}