.scrd-video-contain {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
}
.scrd-video-contain > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scrd-video-contain > .scrd-video-bars{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scrd-video-contain > .scrd-video-bars > .scrd-video-progress-bar {
  position: relative;
  background-color: rgba(0,0,0,.5); 
  width: 50%;
  height: 6px;
  transform: scale(0.98);
}

.scrd-bar-fill{
  position: relative;
  width: 0;
  height: 100%;
  background-color: #d4d4d4;
  appearance: none;
}

.scrd-menu-mask {
  position: fixed;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scrd-video-canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.1);
  cursor: pointer;
  display: none;
}

.scrd-video-tooltip{
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: orange;
  border-radius: 10px;
  color: #fff;
  min-width: 200px;
  min-height: 40px;
  text-align: center;
  display: none;
}

.tooltip-body{
  min-width: 200px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-text{
  font-size: 1.4em;
  font-weight: 400;
  margin: 0;
}

  /* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
    .scrd-video-contain > video { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
    .scrd-video-contain > video { width: 300%; left: -100%; }
}
  /* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
    .scrd-video-contain > video {
      top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover;
    }  
}