.scrd-node{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
}

.scrd-node > section{
    min-height: 100%;
}

section > div:nth-child(1){ min-height: 75vh; }
section > div:nth-child(2){ min-height: 25vh; background: #000; }

.stamp{
    position: absolute;
    top: 20%;
    right: 0%;
    width: 90%;
    opacity: 0.2;
}

article{
    z-index: 1;
}

.scrd-video-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: -40px;
    margin-top: 4px;
}

.scrd-video-info {
    font-size: .9rem;
    font-weight: bold;
    margin-left: 4px;
    margin-bottom: 1.5rem;
}

.miga{
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    opacity: 0.8;
}
.button-card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    cursor: pointer; 
}

.button-card .filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    transition: 0.2s;
}

.button-card .title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-card .label-city{
    position: absolute;
    top: 10px;
    right: 0;
    color: rgba(255, 255, 255, 0.5);
    padding: 3px 2px;
    font-weight: bold;
}


.button-card .label-city p{
    margin: 0;
    padding: 0;
    font-size: .9rem;
}

.button-card .label-city p small{
    font-weight: bold;
}

.button-card .title p{
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.1rem;
    padding: 0 0.5rem;
    margin: 0;
}

.button-card:hover a > .filter{
    opacity: 0;
}

.button-card.active .filter{
    opacity: 0.75;
}
.button-card.active .label-city{
    color: rgba(0, 0, 0, 0.5);
}

.button-card.active .title{
    opacity: 0;
    background-color: transparent;
}
.button-card.active .title p{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
.button-back{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    float: right;
    transition: 0.6s all;
}

.button-back:hover{
    color: #e4e4e4;
    transform: scale(1.05);
}

@media (max-width: 767.98px) { 

    .button-card .title{
        height: 35% !important;
    }
    
    .button-card .title p{
        font-size: 0.9rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
 }
