.scrd-galeria{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #09080f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrd-galeria-title{ color: #fff; }
.owl-item{ position: relative; }
.scrd-galeria-description-picture{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 120px;
    min-height: 35px;
    background-color: rgba(0,0,0,0.8);
    padding: 0.3rem 0.5rem;
}

.scrd-galeria-description-picture p {
    color: #fff;
    margin: 0;
    padding: 0;
}
.owl-nav button{
    position: fixed;
    top: 50%;
    width: 60px;
    height: 60px;
    /*background-color: #fff9 !important;*/
    border-radius: 50% !important;
    overflow: hidden;
}

.owl-nav button span{ 
    font-size: 53px;
    margin-top: -25px;
    display: block;
}

button.owl-prev{ 
    left: 2%;
    background-image: url(http://habitarmishistorias.gov.co/home/img/interfase/bkBut.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

button.owl-prev:hover { 
    background-image: url(http://habitarmishistorias.gov.co/home/img/interfase/bkBut.gif) !important;
    background-color: rgba(0,0,0,0) !important;
}

button.owl-next{
    right: 2%;
    background-image: url(http://habitarmishistorias.gov.co/home/img/interfase/bkBut.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

button.owl-next:hover { 
    background-image: url(http://habitarmishistorias.gov.co/home/img/interfase/bkBut.gif) !important;
    background-color: rgba(0,0,0,0) !important;
    
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

button.owl-prev span{ margin-left: -3px; }
button.owl-next span{ margin-right: -3px; }
.owl-dot.active span{ background-color: #ff0 !important; }

/* Views*/

.scrd-view-galery .card .card-img{
    width: 100%;
    height: 270px;
    background-position: center;
    background-size: cover;
}

/*--- Skin ---*/
.scrd-block {
    background-image: url("http://habitarmishistorias.gov.co/home/img/fdo/fdoIndex.jpg");
    background-size: contain;
}

.fdoImgGaleria {
    background-image: url("http://habitarmishistorias.gov.co/home/img/fdo/fdoImgGaleria.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

