{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
  
{% if multiple %}
    <div{{ attributes }}>
        {% for item in items %}
            <div{{ item.attributes }}>{{ item.content }}</div>
        {% endfor %}
    </div>
{% else %}
    {% for item in items %}
          <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
{% endif %}

