<section{{ attributes }}>
  {# {% if comments and not label_hidden %}
    {{ title_prefix }}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {{ title_suffix }}
  {% endif %} #}

  {{ comments }}
  <hr>
  {% if comment_form %}
    {# <h2{{ content_attributes }}>{{ 'Add new comment'|t }}</h2> #}
    {{ comment_form }}
  {% endif %}

</section>
