/* Comentarios */

.scrd-comments{
    position: fixed;
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .6s all;
}

.scrd-comments .scrd-content{
    padding: 60px 45px 40px 45px;
}

.scrd-article-comment{
    border: 1px solid #cecece;
    padding: .5rem 1rem;
    border-radius: 10px;
    margin: .2rem 0;
}

.scrd-comments .indented{
    position: relative;
    width: 98%;
    left: 2%;
}
.scrd-link-comment{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 1em 0;
}

.scrd-link-comment li{
    position: relative;
    width: 35px;
    height: 30px;
    color: #fff;
    overflow: hidden;
    margin: 1px;
    border-radius: 3px;
}

.scrd-link-comment li a{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.scrd-link-comment li::before{
    font-family: "Font Awesome 5 Free";
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.comment-delete{ background-color: #cecece; }
.comment-edit{ background-color: #cecece; }
.comment-reply{ background-color: #cecece; }
.comment-approve{ background-color: #cecece; }
.comment-delete::before { content: "\f2ed"; }
.comment-edit::before { content: "\f044"; }
.comment-reply::before { content: "\f4ad"; }
.comment-approve::before{ content: "\f058" }

.scrd-comments input[data-drupal-selector="edit-preview"] { display: none; }
.scrd-comments input[data-drupal-selector="edit-submit"] { display: block; margin: 0 auto; }

.scrd-comments label{
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    color: #6b6b6b;
}

.scrd-block #comment-scrd-comments-delete-form{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrd-block #comment-scrd-comments-delete-form input[value="Delete"]{
    background-color: #dc3545;
    border-color: #dc3545;
}

.scrd-block #comment-scrd-comments-delete-form a#edit-cancel{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.scrd-block form[action$="/edit"]
{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scrd-block form[action$="/edit"] details
{
        max-height: 260px;
        overflow-y: auto;
        border: 1px solid #cecece;
        padding: 1rem 2rem;
        box-shadow: 1px 2px 12px 0px #cececece;
        border-radius: 5px;
        margin-bottom: 2rem;
}

.scrd-block form[action$="/edit"] details input{
    margin: .5rem auto !important;
}

.scrd-block form[action$="/edit"] details[open] summary{
    border-bottom: 1px dashed #cecece;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.scrd-block form[action$="/edit"] details #edit-status
{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.scrd-block form[action$="/edit"] details #edit-status input{
    height: 25px;
}

.scrd-block label{
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    color: #6b6b6b;
}

.scrd-block form[action$="/edit"] input[value="Preview"]{
    display: none;
}

.scrd-block input[value="Save"]{
    width: 120px;
}

/* Reply */
.scrd-block > article{
    position: relative;
    top: 4rem;
    width: 80%;
    left: 10%;
}

.scrd-block > article + form{
    position: relative;
    top: 6rem;
    left: 20%;
    width: 60%;
}

.scrd-block > article .scrd-link-comment{
    display: none;
}

.scrd-block > article + form input[value="Preview"]{
    display: none;
}

/* Reply indented */