{{ attach_library('scrd/slider') }}
<script>
    //window.location.href = 'http://habitarmishistorias.gov.co/home/';
</script>
<div class="scrd-container">
    <section>
        <div class="portada">
            <div id="Slider" class="slider">
                {% for picture in scrd_carrousel %}
                    <div class="slide-background" style="background: url({{picture}})"></div>
                {% endfor %}
                <div class="slide-bar"></div>
            </div>
        </div>
    </section>
   
    <nav>
        {{ page.scrd_menu }}
    </nav>
</div>
