{% if links -%}
    <ul class="scrd-link-comment">
        {%- for item in links -%}
            <li{{ item.attributes }} title="{{ item.text }}">
                {{ item.link }}
            </li>
        {%- endfor -%}
    </ul>
{%- endif %}