{% if logged_in %}
  {% if primary %}
    <h2 class="visually-hidden d-none">{{ 'Primary tabs'|t }}</h2>
    <ul class="scrd-menu-views">{{ primary }}</ul>
  {% endif %}
  {% if secondary %}
    <h2 class="visually-hidden d-none">{{ 'Secondary tabs'|t }}</h2>
    <ul class="d-none">{{ secondary }}</ul>
  {% endif %}
{% endif %}