{% if logged_in %}
<div class="dropdown">
  <button class="dropdown-btn">
    <i class="fas fa-user-circle"></i>
  </button>
  <div class="dropdown-content">
    <ul>
      <li><a href="/user" data-drupal-link-system-path="user">Mi perfil</a></li>
      <li><a href="/user/logout" data-drupal-link-system-path="user/logout">Cerrar Sesión</a></li>
    </ul>
  </div>
</div> 
{% else %}
  <a href="/user/login" class="btn-login" >Login <i class="fas fa-sign-in-alt"></i></a>
{% endif %}