<article{{ attributes.addClass('js-comment scrd-article-comment') }}>
  <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>
  <header>
    {{ user_picture }}
     <p class="submitted"> <i class="far fa-user"></i> {{author}} - <small>{{ created }}</small></p>
    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}
    {# Enlaze del comentario {{ permalink }} #}
  </header>
  <div class="d-flex flex-column-reverse">
    {# Titulo del comentario    
      {% if title %}
        {{ title_prefix }}
        <h3{{ title_attributes }}>{{ title }}</h3>
        {{ title_suffix }}
      {% endif %}
     #}
    {{ content }}
  </div>
</article>