<div class="scrd-video-contain">
    <video id="VideoScrd" class="scrd-video" muted loop>
        <source src="{{scrd_video.video}}" type="video/mp4">
    </video>
    <div class="scrd-video-bars">
        <div class="scrd-video-progress-bar" style="width: 100%">
            <div id="fill1" class="scrd-bar-fill"></div>
        </div>
    </div>
</div>
<div id="CanvasScrd" class="scrd-video-canvas"></div>
<div id="TooltipScrd" class="scrd-video-tooltip">
    <div class="tooltip-body">
        <p class="tooltip-text"></p>
    </div>
</div>
<script>
    let spots = JSON.parse('{{ scrd_video.spots|json_encode|raw }}');
    let isMenu = false;
</script>
{{ attach_library('scrd/video') }}