<div class="scrd-archivo fdoDocAdmin">
    <div class="container">
        <!---<div class="row">
            <div class="col-12">
                
            </div>
        </div>--->
        
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-4">
                <div class="d-flex row bkg-scrd-texto-admin align-content-center justify-content-center">
                    <h2 class="text-center my-0 py-0"> {{scrd_archivo.title}} </h2>
                    <!---<hr class="my-4">--->
                    <span class="bloque-texto text-center">{{scrd_archivo.description | raw}}</span>
                </div>    
            </div>
            <div class="col-12 col-md-8">
                <object class="scrd-pdf-visor"src="{{scrd_archivo.archivo}}">
                    <embed src="{{scrd_archivo.archivo}}"></embed>
                </object>
            </div>
        </div>
        
    </div>
</div>