<div class="scrd-audio fdoSndAdmin">
    <div class="container">
        
        <div class="col-8 offset-2 d-flex row align-items-center justify-content-center">
            
                <div class="col-6 mb-4 p-4 bkg-scrd-texto-admin">
                    <h2 class="text-center my-0"> {{scrd_audio.title}} </h2>
                    <div class="col-12 text-center">
                        {{scrd_audio.description | raw}}
                    </div>
                </div>
                <div class="col-8">                
                    <audio controls class="col-12">
                        <source src="{{scrd_audio.audio}}" type="audio/mpeg">
                    </audio>
                </div>
                
        </div>
        
    </div>
</div>