{{ attach_library('scrd/owlcarousel2') }}
<div class="scrd-galeria modalGaleria">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="scrd-galeria-title text-center">{{scrd_galeria.title}} <a alt="Regresar" class="btn btn-scrd-back" href="/galeria">&nbsp;</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div id="FirstCarousel" class="owl-carousel owl-theme">
                    {% for pictures in scrd_galeria.pictures%}
                        <div class="item">
                            <img src="{{pictures.picture}}" />
                            <div class="scrd-galeria-description-picture"><p>{{pictures.description}}"</p></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!---<div class="row">
            <div class="col-2 offset-10"> <a alt="Regresar" class="btn btn-scrd-back btn-block" href="/galeria">&nbsp;</a> </div>
        </div>--->
    </div>
</div>
<script>
    jQuery(document).ready(function(){
        let firstCarousel = jQuery("#FirstCarousel");
        firstCarousel.owlCarousel({
            autoHeight:true,
            dots: true,
            items: 1,
            loop:true,
            nav:true
        });
    });
</script>