<div class="scrd-node">
    <section class="container-fluid" style="background-color: {{ scrd_history.config.color }}">
        <div class="row">
            <div class="col-10 offset-1 d-flex d-md-none justify-content-center align-items-center">
                <h3 class="text-center">{{ scrd_history.title}}</h3>
            </div>
            <div class="col-12 col-md-5 d-none d-md-flex justify-content-center align-items-center">
                <img class="stamp" src="{{ scrd_history.config.stamp}}" />
                <article class="w-75">
                    <h1 class="miga">{{ scrd_history.config.taxonomy}}</h1>
                    <h2>{{ scrd_history.title}}</h2>
                    <hr>
                    <div>
                        {{ scrd_history.description | raw }}
                        <a href="/menu/{{scrd_history.config.id}}" class="btn button-back">Regresar</a>
                        {# <a class="btn button-back" href="{{scrd_history.config.linkParent}}">{{scrd_history.config.linkName}}</a> #}
                    </div>
                </article>
            </div>
            
            <div class="col-12 col-md-7 d-flex align-items-center">
                <article class="w-100">
                    <div class="embed-responsive embed-responsive-16by9">         
                        <video class="video" onplay="viewed(this, {{scrd_history.id}})" controls>
                            <source src="{{ scrd_history.video }}" type="video/mp4">
                            {% for track in scrd_history.tracks %}
                                <track src="{{track.urlTrack}}" kind="subtitles" srclang="{{track.langCode}}" label="{{track.langName}}">
                            {% endfor %}
                        </video>
                    </div>
                    <div class="scrd-video-info">
                        <p> <i class="far fa-eye"></i> {{scrd_history.counter}} </p>
                        <button class="btn btn-outline-light" onclick="openWindowComments()"> <i class="far fa-comment-dots"></i> Comentarios</button>
                    </div>
                </article>
            </div>
            <div class="col-12 d-block d-md-none my-1">
                {{ scrd_history.description | raw }}
            </div>
        </div>
        
        <div class="row">
            {% for item in scrd_history.menu %}
                {% if item.state %}
                    <div class="col-6 col-md-4 col-lg-3 button-card active" style="background-image: url({{ item.screenshot}});" data-link="{{ item.url }}" >
                        <div class="filter" style="background-color: {{ scrd_history.config.color }}"></div>
                        <div class="label-city">
                            <p> <i class="fas fa-globe-americas"></i> <small>{{item.city.cityName}}, {{item.city.countryPrefix}}</small></p>
                            <div class="d-none">
                                <img src="{{item.city.countryIcon}}" style="width:35px; height: 35px; border-radius: 50%;" />
                                <img src="{{item.city.cityIcon}}" style="width:35px; height: 35px; border-radius: 50%;" />
                            </div>
                        </div>
                        <div class="title">
                            <p>{{ item.title }} {{item.state}}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="col-6 col-md-4 col-lg-3 button-card" style="background-image: url({{ item.screenshot}});" data-link="" >
                        <a href="{{ item.url }}">
                            <div class="filter"></div>
                            <div class="label-city">
                                <p> <i class="fas fa-globe-americas"></i> <small>{{item.city.cityName}}, {{item.city.countryPrefix}}</small></p>
                                <div class="d-none">
                                    <img src="{{item.city.countryIcon}}" style="width:35px; height: 35px; border-radius: 50%;" />
                                    <img src="{{item.city.cityIcon}}" style="width:35px; height: 35px; border-radius: 50%;" />
                                </div>
                            </div>
                            <div class="title">
                                <p>{{ item.title }} {{item.state}}</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>

<div id="ScrdComments" class="scrd-comments">
    {% if logged_in %}
        <div class="scrd-content" style="padding-top: 5rem;">
    {% else %}
        <div class="scrd-content" style="padding-top: 2rem;">
    {% endif %}
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-danger" onclick="closeWindowComments()"><i class="far fa-times-circle fa-1x"></i></button>
        </div>
        <h2 class="text-center mb-5">Comentarios</h2>

        {{ user_admin }}
        {# {% if logged_in %}
            {{ content.field_comments }}
        {% else %}
            <a href="/user/login">Iniciar Sessión</a>
        {% endif %} #}
        {{ content.field_comments }}
    </div>
</div>