#block-mainpagecontent > h2 {
    display: none;
}

.video-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
}

.video-page > section{
    min-height: 100%;
}

/* .video-page > section:nth-child(1){ background-color: #F0C400;}
.video-page > section:nth-child(2){ background-color: #FB4E4E;}
.video-page > section:nth-child(3){ background-color: #2D9CDB;}
.video-page > section:nth-child(4){ background-color: #9B51E0;} */

section > div:nth-child(1){ min-height: 75vh; }
section > div:nth-child(2){ min-height: 25vh; background: #000; }

.stamp{
    position: absolute;
    top: 25px;
    right: 12.5%;
    width: 210px;
    opacity: 0.5;
}

.button-card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    cursor: pointer; 
}

.button-card .filter, .button-card .filter2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    transition: 0.2s;
}

.button-card .title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-card .title p{
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.1rem;
    padding: 0 0.5rem;
    margin: 0;
}

.button-card:hover > .filter{ opacity: 0; }
.button-card > .filter2{ opacity: 0; }
.button-card.active .filter{ opacity: 0 !important;  }
.button-card.active .filter2{ opacity: 0.6 !important; }
.button-card.active .title{ opacity: 0; }