{{ attach_library('scrd_history/video-assets') }}
<div class="video-page">
    {% for item in items %}
    <section class="container-fluid" style="background-color: {{item.color}}">
        <div class="row">
            <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
                <img class="stamp" src="{{ item.stamp}}" />
                <article class="w-75">
                    <h1 id="TitleHistory{{ item.id }}">{{item.title}}</h1>
                    <hr>
                    <div id="TextHistory{{ item.id }}">
                        <p>{{item.description | raw}}</p>
                    </div>
                </article>
            </div>
            <div class="col-12 col-md-7 d-none d-flex align-items-center">
      
                <div class="embed-responsive embed-responsive-16by9">
                    <div class="d-none d-md-block">
                        <video id="VideoHistory{{ item.id }}" class="video" controls>
                            <source src="http://www.bogotaespaciolibredemachismo.gov.co/video/intro.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="d-block d-md-none">
                        <button>Ver video!</button>
                    </div>
                </div>    
            </div>
            <div class="col-12 col-md-7 d-none  d-flex align-items-center"></div>
        </div>
        <div class="row">
            {% for nh in item.nodesHistory %}
            <div class="col-6 col-md-4 col-lg-3 button-card" style="background-image: url({{nh.screenshot}});" data-id="{{nh.category}}" data-title="{{nh.title}}" data-text="{{nh.text}}"  data-url="{{nh.video}}">
                <div class="filter"></div>
                <div class="filter2" style="background-color: {{item.color}}"></div>
                <div class="title">
                    <p>{{nh.title}} </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</div>

{% if items is empty %}
    <div class="alert alert-info" role="alert">
        Para iniciar crea el listado de categorias y luego las historias asociandolas a su respectiva categoria 
    </div>
{% endif %}