#Slider {
    position: absolute;
    top:0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transform: scale(1.4);
    z-index: 1;
}

.slide-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    background: yellow;
    transition-property: width;
    transition-timing-function: linear;
    z-index: 1;
}

.active {
    width: 100% !important;
}

.slide-animation{
    animation: kenburns;
    animation-timing-function: linear;
}


@keyframes kenburns {
    0% {
        transform: scale(1.4);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    95% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
