{% if logged_in %}
    <nav class="scrd-menu-account">
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/galeria">GALERÍA</a></li>
            <li><a href="/audios">AUDIOS</a></li>
            <li><a href="/archivo">MAGAZINES</a></li>
        </ul>
        {{content}}
    </nav>
{% else %}
    {# <nav class="scrd-menu-account">{{content}}</nav> #}
    <nav class="scrd-menu-account">
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/galeria">GALERÍA</a></li>
            <li><a href="/audios">AUDIOS</a></li>
            <li><a href="/archivo">MAGAZINES</a></li>
        </ul>
        <a href="/user/login" class="btn btn-login">Login <i class="fas fa-sign-in-alt"></i></a>
    </nav>
{% endif %}
